language: cpp
compiler:
  - clang
notifications:
  email: false
env:
  matrix:
    - JULIAVERSION="julianightlies"
before_install:
  - sudo add-apt-repository ppa:staticfloat/julia-deps -y
  - sudo add-apt-repository ppa:staticfloat/${JULIAVERSION} -y
  - sudo apt-get update -qq -y
  - sudo apt-get install libpcre3-dev julia -y
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
script:
  - git clone --depth 1 --single-branch https://github.com/JuliaLang/julia
  - julia -e 'Pkg.init(); Pkg.clone(pwd()); ARGS = [joinpath(Pkg.dir("JuliaParser"), "julia")]; Pkg.test("JuliaParser")'
