language: julia
os:
    - linux
julia:
    - 0.3
    - 0.4
    - nightly
notifications:
  email: false
before_install:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
script:
  - git clone --depth 1 --single-branch https://github.com/JuliaLang/julia
  - julia -e 'Pkg.init(); Pkg.clone(pwd()); ARGS = [joinpath(Pkg.dir("JuliaParser"), "julia")]; Pkg.test("JuliaParser")'
